<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-4">
                <!-- -->
            </div>
            <div class="col-4">
                <!-- -->
            </div>
            <div class="col-4">
                <div><b>Текущая температура:</b> <span id="cur_temperature"></span> </div>
                <div><b>Текущая влажность:</b> <span id="cur_humidity"></span></div>
            </div>
        </div>
        <hr>
        <br/>
        <div class="row">
            <div class="col-5" style="margin-top: 7px;">
                <div><b>Текущая частота измерений:</b> {{ delay }} сек.</div>
            </div>
            <div class="col-7">
                <form action = "http://iuriier.pythonanywhere.com" method = "POST">
                    <div class="form-group row">
                        <label for="example-number-input" class="col-3 col-form-label">Секунды</label>
                        <div class="col-7">
                            <input class="form-control" type="delay" id="delay" name="delay">
                        </div>
                        <button type="submit" class="btn btn-primary col-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <hr>
        <br/>

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="all-data-tab" data-toggle="pill" href="#all-data" role="tab" aria-controls="all-data" aria-selected="true">Все данные</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="time-date-tab" data-toggle="pill" href="#time-date" role="tab" aria-controls="time-date" aria-selected="false">История измерений</a>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="all-data" role="tabpanel" aria-labelledby="all-data-tab">
              <div class="col">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                              <th>Время</th>
                              <th>Температура</th>
                              <th>Влажность</th>
                              <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for object in all_data %}
                          <tr>
                            <td>{{ object['t'] }}</td>
                            <td>{{ object['val_t'] }}</td>
                            <td>{{ object['val_h']}}</td>
                              <td>
                                  <form class="col-2" action = "http://iuriier.pythonanywhere.com/delete_values?dt={{ object['t'] }}" method="POST">
                                    <button class="btn btn-danger">Удалить</button>
                                  </form>
                              </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
          </div>

          <div class="tab-pane fade" id="time-date" role="tabpanel" aria-labelledby="time-date-tab">
              <div class="row" style="text-align: center;">
                <div class="col-12">
                    <form action = "http://iuriier.pythonanywhere.com/date" method = "POST">
                        <div class="form-group row">
                            <label for="lower-datetime-local-input" class="col-5 col-form-label">Нижняя граница</label>
                            <label for="upper-datetime-local-input" class="col-5 col-form-label">Верхняя граница</label>

                            <div class="col-5">
                                <input class="form-control" type="datetime-local" id="lower-datetime-local-input" name="lower-datetime">
                            </div>

                            <div class="col-5">
                                <input class="form-control" type="datetime-local" id="upper-datetime-local-input" name="upper-datetime">
                            </div>
                            <button type="submit" class="btn btn-primary col-2">Submit</button>
                        </div>
                    </form>
                </div>
                <br/>
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Временные промежутки</th>
                            <th>Среднее значение температуры</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for elem in temperatures %}
                          <tr>
                            <td>{{ elem['date'] }}</td>
                            <td>{{ elem['mean'] }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Временные промежутки</th>
                            <th>Среднее значение влажности</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for elem in humidity %}
                          <tr>
                            <td>{{ elem['date'] }}</td>
                            <td>{{ elem['mean'] }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
                <form class="col-2" action = "http://iuriier.pythonanywhere.com/clear">
                    <button class="btn btn-danger">Очистить</button>
                </form>
            </div>
          </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        setInterval(()=>{
            $.ajax({
              url: "/cur_values",
              type: "get",
              success: function(response) {
                $("#cur_temperature").html(response.temperature.mean?response.temperature.mean:"нет информации");
                $("#cur_humidity").html(response.humidity.mean?response.humidity.mean:"нет информации");
                console.log(response.humidity.mean, response.temperature.mean);
              }
            })
        },15000);

        function deleteVal(value){
            console.log(value);
        }

    </script>
    <style>
        .btn-primary {
            color: #fff;
            background-color: #007bff99 !important;
            border-color: #007bff00 !important;
            border-radius: 10px !important;
        }

    </style>
  </body>
</html>
